{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>想像朋友</title>
  {% if request.user.username == 'mariafilippa' %}<link rel="manifest" href="{% static 'manifest.json' %}">{% endif %}
  <!-- Bootstrap core CSS-->
  {% comment %} <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" >

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'home' %}">想像朋友</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="plans">
          <a class="nav-link" href="{% url 'plan-list' %}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">創作計畫清單</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="gatekeepers">
          <a class="nav-link" href="{% url 'gatekeeper-list' %}">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">守門人清單</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="profile">
          <a class="nav-link" href="{% url 'profile' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">個人資料</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="KeeperRequest">
          <a class="nav-link" href="{% url 'keeper_request-list' %}">
            <i class="fa fa-fw fa-info"></i>
            <span class="nav-link-text">守門請求</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'auth_logout' %}" >
              <i class="fa fa-fw fa-sign-out"></i>登出
            </a>
          {% else %}
            <a class="nav-link" href="{% url 'auth_login' %}" >
              <i class="fa fa-fw fa-sign-in"></i>登入
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container">

      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-danger"> {{msg}} </div>
        {% endfor %}
      {% endif %}

      {% block content %} {% endblock %}
    </div>
    <!-- /.container-->
    <!-- /.content-wrapper-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    {% block pwa %} {% endblock %}
  </div>
</body>

</html>
