
<style lang="css">
    ul.pagination li.page-item a, ul.pagination li.page-item a:visited {
        color: #ccc !important;
        background-color: #555;
        border-color: #999;
    }

    ul.pagination li.page-item a:hover, ul.pagination li.page-item a:active {
        color: #ccc !important;
        background-color: #555;
        border-color: #999;
    }

    ul.pagination li.page-item.active a {
        color: white !important;
        background-color: #777;
        border-color: #999;
    }
    ul.pagination li.page-item.disabled a {
        color: #777 !important;
        background-color: #555;
        border-color: #999;
    }
</style>
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ parameters }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
        </li>
        {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ i }}&{{ parameters }}">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}&{{ parameters }}">{{ i }}</a>
        </li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ parameters }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
