{% extends "base.html" %}

{% block content %}

{% with object as plan %}
    {% with plan.get_previous_by_create_at as plan %}
        {% if plan %}
            <a class="btn btn-info" href="{% url 'plan-detail' plan.pk %}">前一筆</a>
        {% endif %}
    {% endwith %}
    <a class="btn btn-info" href="{% url 'plan-list' %}{{ parameters }}">回計畫列表</a>
    <a class="btn btn-info" href="{% url 'profile-detail' plan.user.profile.pk %}">{{plan.user.profile.displayname}}的個人資料</a>
    {% with plan.get_next_by_create_at as plan %}
        {% if plan %}
            <a class="btn btn-info" href="{% url 'plan-detail' plan.pk %}">後一筆</a>
        {% endif %}
    {% endwith %}

    <hr>

    <h4>{{plan.user.profile.displayname}}的創作計畫</h4>
    創建於 {{ plan.create_at|date:'Y-m-d' }}
    <p>{{plan.content|linebreaks|urlize}}</p>

    {% with plan.get_gatekeepers as gatekeepers %}
    {% if gatekeepers %}
    <p>
        此計畫的守門人狀態(也是計畫後續更動的通知對象)：
        <ol>
            {% for kr in gatekeepers %}
                <li>
                    守門人<a title="{{ kr.keeper.get_full_name }}"
                        class="text-dark"
                        href="{{ kr.keeper.profile.get_absolute_url }}"
                    >{{kr.keeper.profile.displayname}}</a>
                    (申請人{{kr.creator.profile.displayname}}於{{kr.create_at|date:'Y-m-d'}}創建)
                    狀態：{{kr.get_status_display}}
                </li>
            {% endfor %}
        </ol>
    </p>
    {% endif %}
    {% endwith %}

    {% with plan.keeper_limit as keeper_limit %}
    <form action="{% url 'keeper_request-create' plan.pk %}">
        <button type="submit" class="btn btn-primary"
            {% if have_sent or keeper_limit or plan.user == request.user %}
                disabled
            {% endif %}
            >
            {% if have_sent %}
                已發出邀請
            {% elif keeper_limit %}
                守門人已達上限
            {% else %}
                報名擔任{{plan.user.profile.displayname}}的守門人
            {% endif %}
        </button>
    </form>
    {% endwith %}

    <hr>

    <div class="page-header">
      <h4 class="review">留言</h4>
    </div>
    <ul class="media-list">
      {% for comment in comments %}
      <li class="media">
        <div class="media-body">
          <div class="well well-lg">
            {% spaceless %}
            <p class="media-comment">
              <a
              title="{{ comment.user.get_full_name }}"
              class="text-dark"
              href="{{ comment.user.profile.get_absolute_url }}">{{comment.user.profile.displayname}}</a>
              <span title="{{comment.create_at}}">：{{comment.message.strip|urlize}}</span>
              {% if comment.user_is_author %}
              <a
                class="btn btn-sm btn-outline-light"
                onclick="return confirm('確定要刪除留言？')"
                href="{% url 'plan_comment-delete' plan.pk comment.id %}">
                <i class="fa fa-remove"></i>
              </a>
              {% endif %}
            </p>
            {% endspaceless %}
          </div>
        </div>
      </li>

      {% endfor %}
      <li class="media">
        <div class="media-body">
          <form action="{% url 'plan_comment-create' plan.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" name="message" row="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Reply</button>
          </form>
        </div>
      </li>
    </ul>


{% endwith %}

{% endblock %}
