{% extends "base.html" %}

{% block content %}

{# search & filter bar START #}
<form class="form-inline" actions="." method="get">
    {% if my_plan_id %}
    <a class="btn btn-primary mb-1 mr-sm-3" href="{% url 'plan-update' my_plan_id %}">修改創作計畫</a>
    {% else %}
    <a class="btn btn-primary mb-1 mr-sm-3" href="{% url 'plan-create' %}">新增創作計畫</a>
    {% endif %}

    <label class="sr-only" for="search">內容</label>
    <input type="text" class="form-control mb-1 mr-sm-1" id="search" name="search" placeholder="內容搜尋"
        value="{{request.GET.search}}"
    >

    <label class="sr-only" for="userfilter">姓、名、暱稱或地區</label>
    <input type="text" class="form-control mb-1 mr-sm-1" id="userfilter" name="userfilter" placeholder="姓、名、暱稱或地區"
        value="{{request.GET.userfilter}}"
    >

    <div class="form-check mb-1 mr-sm-1">
        <input class="form-check-input" type="checkbox" id="hidefull" name="hidefull"
        {% if request.GET.hidefull %}
            checked
        {% endif %}
        >
        <label class="form-check-label" for="hidefull">
        隱藏守門人已滿計畫
        </label>
    </div>

    <button type="submit" class="btn btn-primary mb-1 mr-sm-1">送出</button>

</form>
{# search & filter bar END #}

<hr>

{% if is_paginated %}
    {% include "paginator.html" %}
{% endif %}

{% for plan in object_list %}
    <h5>{{plan.user.profile.displayname}}的創作計畫 @ {{ plan.create_at|date:'Y-m-d' }}</h5>
    <p>{{plan.content|slice:":128"}}</p>
    <a class="btn btn-xm btn-info"  href="{% url 'plan-detail' plan.pk %}">完整內容</a>
    {% if plan.user == request.user %}
        <a class="btn btn-xm btn-warning" href="{% url 'plan-update' plan.pk %}">編輯</a>
    {% endif %}
    <span>已有{{plan.keeper_num}}位守門人</span>
    <span class="label label-info">
        <i class="fa fa-comments"></i>
        {{plan.count_comments}}
    </span>

    <hr>
{% empty %}
    沒有創作計畫，哈哈
{% endfor %}

{% if is_paginated %}
    {% include "paginator.html" %}
{% endif %}

{% endblock %}
