{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<style>
    .help-block {
        font-size: 80%;
        color: #999;
    }
</style>
<form action="" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
        <button id="sub_button" type="button" class="btn btn-sm btn-outline-info d-none">接收推送通知</button>
        <button id="home_button" type="button" class="btn btn-sm btn-outline-info d-none">加到主畫面</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">點此儲存/更新資訊</button>
    </div>
</form>
{% endblock %}

{% block pwa %}
{% if request.user.username == 'mariafilippa' %}
<script>
  //Register service worker
  var isSubscribed,
      swRegistration,
      subscrpt,
      applicationServerPublicKey = 'BBAePXLoXedId-83rVP2xAazIbG_kEyDaWEI5JCcs6RWx75RBB5f1gIe8BaczB63Ft649lLXivJTKVyBWJvKBeo';
  var csrftoken = getCookie('csrftoken');
  if ('serviceWorker' in navigator && 'PushManager' in window) {
    console.log('Service Worker and Push is supported');
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/service-worker.js')
        .then(function(swReg) {
          console.log('Service Worker is registered', swReg);
          swRegistration = swReg;
          navigator.serviceWorker.ready.then(function(serviceWorkerRegistration) {
              subscribe();
          });
        })
        .catch(function(error) {
          console.error('Service Worker Error', error);
        });
    });
  } else {
    console.warn('Push messaging is not supported');
  }

  function subscribe() {
    swRegistration.pushManager.getSubscription()
      .then(function(subscription) {
        isSubscribed = !(subscription === null);
        var sub_button = document.getElementById('sub_button');
        if (isSubscribed) {
          //User is subscribed - do nothing if you already have the subscription object on the server.
          console.log('User IS subscribed.', JSON.stringify(subscription));
        } else {
          console.log('User is NOT subscribed. - Subscribing');
          if (Notification.permission === 'default') {
            sub_button.classList.remove('d-none');
            sub_button.addEventListener('click', function() {
              subscribeUser();
            });
          }
        }
      });
  }
  function subscribeUser() {
    const applicationServerKey = urlBase64ToUint8Array(applicationServerPublicKey);
    swRegistration.pushManager.subscribe({
        userVisibleOnly: true,
        applicationServerKey: applicationServerKey
      })
      .then(function(subscription) {
        /*
           "subscription" is the object you need to use to send push message from the server.
           Use ajax to store the content on the server.
        */
          var browser = loadVersionBrowser(navigator.userAgent);
          var endpointParts = subscription.endpoint.split('/');
          var registration_id = endpointParts[endpointParts.length - 1];
          var data = {
                  'browser': browser,
                  'p256dh': btoa(String.fromCharCode.apply(null, new Uint8Array(subscription.getKey('p256dh')))),
                  'auth': btoa(String.fromCharCode.apply(null, new Uint8Array(subscription.getKey('auth')))),
                  'name': 'web app',
                  'registration_id': registration_id
          };
          console.log(data)
          requestPOSTToServer(data);
        console.log('User is subscribed:', subscription);
        subscrpt = subscription;
        isSubscribed = true;
      })
      .catch(function(err) {
        console.log('Failed to subscribe the user: ', err);
      });
  }
  function requestPOSTToServer(data) {
    return fetch('/notifications/subscribe/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        "X-CSRFToken": csrftoken
      },
      body: JSON.stringify(data),
      credentials: 'same-origin'
    })
    .then(function(response) {
      if (!response.ok) {
        throw new Error('Bad status code from server.');
      }

      return response.json();
    })
    .then(function(responseData) {
      if (!(responseData.data && responseData.data.success)) {
        throw new Error('Bad response from server.');
      }
    });
  }
  function urlBase64ToUint8Array(base64String) {
    const padding = '='.repeat((4 - base64String.length % 4) % 4);
    const base64 = (base64String + padding)
      .replace(/\-/g, '+')
      .replace(/_/g, '/');
    const rawData = window.atob(base64);
    const outputArray = new Uint8Array(rawData.length);
    for (let i = 0; i < rawData.length; ++i) {
      outputArray[i] = rawData.charCodeAt(i);
    }
    return outputArray;
  }
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function loadVersionBrowser (userAgent) {
      var ua = userAgent, tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
      if (/trident/i.test(M[1])) {
              tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
              return {name: 'IE', version: (tem[1] || '')};
      }
      if (M[1] === 'Chrome') {
              tem = ua.match(/\bOPR\/(\d+)/);
              if (tem != null) {
                      return {name: 'Opera', version: tem[1]};
              }
      }
      M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
      if ((tem = ua.match(/version\/(\d+)/i)) != null) {
              M.splice(1, 1, tem[1]);
      }
      return {
              name: M[0],
              version: M[1]
      };
  }
</script>
<script>
  var deferredPrompt;
  window.addEventListener('load', function() {
    var home_button = document.getElementById('home_button')
    window.addEventListener('beforeinstallprompt', function(e) {
      console.log('beforeinstallprompt Event fired');
      e.preventDefault();
      // Stash the event so it can be triggered later.
      deferredPrompt = e;
      home_button.classList.remove('d-none')
      return false;
    });
  });
  home_button.addEventListener('click', function() {
    if(deferredPrompt !== undefined) {
      // The user has had a positive interaction with our app and Chrome
      // has tried to prompt previously, so let's show the prompt.
      deferredPrompt.prompt();
      // Follow what the user has done with the prompt.
      deferredPrompt.userChoice.then(function(choiceResult) {
        console.log(choiceResult.outcome);
        if(choiceResult.outcome == 'dismissed') {
          console.log('User cancelled home screen install');
        }
        else {
          console.log('User added to home screen');
        }
        // We no longer need the prompt.  Clear it up.
        deferredPrompt = null;
      });
    }
  });
</script>
{% endif %}
{% endblock %}
