{% for plan in new_plans %}
  <p>
      想像朋友{{plan.user.profile.displayname}}的<a href="{{SITE_URL}}{{plan.get_absolute_url}}">寫作計畫</a>：
  </p>

  <p style="margin-left:25px;">
      {{plan.content|truncatechars:100}}
  </p>


  {% with plan.get_gatekeepers as gatekeepers %}
  {% if gatekeepers %}
  <p style="margin-left:25px; color:#777;">
      守門人狀態(也是計畫後續更動的通知對象)：
      <ol>
          {% for kr in gatekeepers %}
              <li style="color:#777;">
                  守門人{{kr.keeper.profile.displayname}}
                  <!-- (申請人{{kr.creator.profile.displayname}}於{{kr.create_at|date:'Y-m-d'}}創建) -->
                  狀態：{{kr.get_status_display}}
              </li>
          {% endfor %}
      </ol>
  </p>
  {% endif %}
  {% endwith %}
  <br>
{% endfor %}

<p>
    如果不想收到守門人計畫相關信件的話，可以<a href="{{SITE_URL}}{% url 'plan-unsubscribe_email' %}">點此連結</a>取消訂閱守門人計畫相關信件。
</p>
